<h1>Crear Usuario</h1>

<form action="">


  <div class="form-group row">
    <label for="nombres" class="col-2 col-form-label">Nombres</label>
    <div class="col-10">
      <input class="form-control" type="text"
             placeholder="Ingrese sus nombres"
             id="nombres">
    </div>
  </div>

  <div class="form-group row">
    <label for="apellidos" class="col-2 col-form-label">Apellidos</label>
    <div class="col-10">
      <input class="form-control" type="text"
             placeholder="Ingrese sus Apellidos"
             id="apellidos">
    </div>
  </div>

  <div class="form-group row">
    <label for="correo" class="col-2 col-form-label">Correo</label>
    <div class="col-10">
      <input class="form-control" type="email" placeholder="Ingrese su correo" id="correo">
    </div>
  </div>

  <div class="form-group row">
    <label for="fecha-nacimiento" class="col-2 col-form-label">Fecha nacimiento</label>
    <div class="col-10">
      <input class="form-control" type="date" placeholder="Ingrese su fecha de Nacimiento" id="fecha-nacimiento">
    </div>
  </div>


  <div class="form-group row">
    <label for="password" class="col-2 col-form-label">Password</label>
    <div class="col-10">
      <input class="form-control" type="password" placeholder="Ingrese un password" id="password">
    </div>
  </div>



  <button type=""
          class="btn btn-outline-secondary">Secondary</button>

  <button type=""
          class="btn btn-outline-success">Success</button>

  <button type=""
          class="btn btn-outline-warning">Warning</button>



</form>
