
<h1>Homepage</h1>

<% var numero = 5 %>
<% usuario.id = usuario.id + numero %>
<% console.log("El id es:",usuario.id); %>

<p><%= usuario.nombres %></p>

<p><%= usuario.apellidos %></p>

<p><%= usuario.id %></p>

<input type="text" value="<%= usuario.nombres %>">















