
    /*
    body {
        background-color: blue;
        color: #fffdde;
    }
    h1  {
        background-color: red;
        color: #b3a290;
    }
    h3  {
        background-color: yellow;
        color: black;
    }
    div  {
        background-color: black;
        color: white;
    }
    */

    /*

    h1 {
        background-color: red;
        color: lightblue;
    }

    #uno {
        background-color: yellow;
        color: black;
    }

    button  {
        background-color: #1fd0ff;
        color: #ce381c;
    }

    #cancelar {
        background-color: #ce381c;
        color: #1fd0ff;
    }
    */

button  {
    border:solid;
    border-color: red  ;
    background-color: brown;
}

#idmalicioso {
    background-color: black;
}

.boton-exito {
    background-color: #28c34c;
    color: #efecec;
}

.boton-cuidado {
    background-color: #ff5020;
    color: #efecec;
}

.boton-exito {
    background-color: #000000;
    color: #efecec;
}

.boton-exito {
    background-color: #385cc3;
    color: #efecec;
}

button:hover{
    background-color: yellow;
}

button:focus{
    border-color: blue;
}

